<!DOCTYPE html>
<html>
<title>::BARRIO LOS ANGELES::</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>



<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-center w3-padding-16">Actividades</div>
  </div>
</div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      
      <h3>DIA 1 : SHOW DE TALENTOS</h3>
      <ul>
  <li>Un video corto del joven: cocinando, bailando o cantando (en caso de cantar o rapear, debe ser referente al tema de, sacerdocio aarónico, historia familiar o seminario).  MINIMO  30 SEGUNDOS.</li>
  <li>Se hará un segmento de “en vivo”, por si algún joven quiere demostrar su talento en vivo.</li>
  
</ul> 
    </div>
    <div class="w3-quarter">
     
      <h3>DIA 2 : : FOTO O VIDEO</h3>
      <ul>
  <li>Los jóvenes deberán tomarse una foto o video mientras estén enseñando una doctrina, una clase de ven sígueme, compartiendo testimonio o una clase del sacerdocio aarónico.</li>
  <li>Cortas palabras de los líderes de stk sobre “Como sobrellevar este momento de pandemia”.</li>
  <li>Todo el video deberá ser con vestimenta FORMAL.</li>
</ul>

    </div>
    <div class="w3-quarter">
     
      <h3>DIA 3 : INBOX A UN AMIGO</h3>
      <ul>
  <li>Los jóvenes ya con anticipación, deben buscar un amigo, menos activo o no miembro donde deberán compartir sus testimonios, alguna experiencia o compartir palabras de ánimo. </li>
  <li>Deberán enviar los Screenshots como prueba que lo realizaron.</li>

</ul>  
    </div>
    <div class="w3-quarter">
     
      <h3>DIA 4 : CLASES Y CHARLAS PREGUNTAS Y RESPUESTAS</h3>
      <ul>
  <li>Dictados por los maestros de seminario y la charla por la presidencia de stk.</li>
</ul> 
    </div>
    
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      
      
      <h3>DIA 5 : PAPÁ, MAMÁ Y YO</h3>
      <ul>
  <li>Los jóvenes deberán enviar una foto familiar completa, darán una pequeña descripción de su familia y contarán una experiencia familiar que les haya marcado en su niñez o juventud.</li>
  <li>Debe ser relatado por el mismo joven.</li>
  <li>Palabras finales y de aliento de parte de la stk.</li>
  <li>Video resumen de toda la semana</li>
</ul>  
    </div>
    </div>
   
    
    
  </div>

  <!-- Pagination -->
  
  </div>
  
  <hr id="about">

  
<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
